.grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: re;
}

.grid div {
    background: rgb(211, 209, 209);
    padding: 1em;
}

.grid div:hover {
    border: 1px solid rgb(231, 164, 38);
}