.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);

    /* justify-items: center; */
    align-items: stretch;
}
.element1{
    align-self: start;
}
.element2{
    align-self: center;
}
.element3{
    align-self: end;
}
.grid >  div {
    background: rgb(211, 209, 209);
    padding: 1em;
}
.grid >  div:hover {
    border: 1px solid rgb(231, 164, 38);
}